#end_content{
    display: flex;
    .item{
        padding: 2px 15px !important;
        border-inline-end: 2px solid #E0E0E0;
        line-height: 1;
        height: fit-content;
        cursor: pointer;
        &:last-child{
            border-inline-end: 0;
            padding-inline-end: 0 !important;
        }
        img{
            width: 19px;
            height: 19px;
        }
        .user_btn{
            padding: 0;
            min-width: auto;
        }
    }
    .choose_lang{
        span{
            img{
                width: 30px !important;
                height: auto !important;
            }
        }
    }
}
#logout_btn{
    width: 100%;
    padding: 0;
    border: 0;
    text-align: start;
    background-color: transparent;
}