/*--- Subscribe section ---*/
#subscribe_section{
    padding-bottom: 100px;
    background-color: #FCEBEA;
    .orange_bg{
        padding-top: 50px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: var(--main_orange_color);
        h3{
            color: #fff;
            font-weight: 600;
        }
        p{
            color: #fff;
            font-weight: 300;
            max-width: 40%;
            text-align: center;
        }
        .form_bx{
            width: 40%;
            padding: 20px;
            display: flex;
            position: absolute;
            inset-inline-start: 30%;
            bottom: -40px;
            background-color: #fff;
            form{
                width: 100%;
            }
            .form_items{
                display: flex;
                align-items: center;
            }
            .submit_btn{
                button{
                    height: 48px;
                    border-radius: 0;
                    background-color: var(--main_orange_color);
                }
            }
        }
    }
}