/** ====================
 *  Footer css
=======================*/
#footer_section{
    padding: 50px 150px 100px;
    margin-top: auto;
    position: relative;
    background-color: var(--main_orange_color);
    &::before{
        content: '';
        position: absolute;
        inset-inline-start: 0;
        top: -15px;
        width: 100px;
        height: 150px;
        background-image: url(../../../../assets/images/svg/backgrounds/footer-top.svg);
        background-repeat: no-repeat;
    }
    &::after{
        content: '';
        position: absolute;
        inset-inline-end: 0;
        bottom: 10px;
        width: 150px;
        height: 70px;
        background-image: url(../../../../assets/images/svg/backgrounds/footer-bottom.svg);
        background-repeat: no-repeat;
    }
    .items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .footer_item{
            max-width: 25%;
            .footer_logo{
                margin-bottom: 15px;
            }
            p{
                color: #fff;
                line-height: 1.8;
                font-weight: 300;
                font-size: 14px;
            }
            .social_icons{
                display: flex;
                gap: 20px;
                img{
                    width: 30px;
                }
            }
            h3{
                color: #fff;
                font-size: 18px;
                margin-bottom: 30px;
                &:lang(en){
                    text-transform: uppercase;
                }
            }
            ul{
                padding: 0;
                margin: 0;
                li{
                    list-style: none;
                    padding-bottom: 7px;
                    a{
                        text-decoration: none;
                        color: #fff;
                        font-weight: 300;
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .bottom_footer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 70px;
        justify-content: space-between;
        p{
            color: #fff;
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 0;
        }
        ul{
            padding: 0;
            margin: 0;
            display: flex;
            gap: 15px;
            li{
                list-style: none;
                padding-inline-end: 15px;
                line-height: 1;
                border-inline-end: 1px solid #fff;
                a{
                    color: #fff;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 300;
                }
                &:last-child{
                    border-inline-end: 0;
                }
            }
        }
    }
}