/** ====================
 *  Second Header css
=======================*/
#header_menu{
    padding-top: 20px !important;
    .navbar-brand{
        margin-right: 0;
    }
    .menu_logo{
        img{
            width: 70px;
        }
    }
    .menu_item{
        font-weight: 500;
        color: #111111;
        padding: 2px 18px !important;
        border-inline-end: 2px solid #E0E0E0;
        line-height: 1;
        height: fit-content;
        &:lang(en){
            text-transform: uppercase;
        }
        &.active{
            color: var(--main_orange_color) !important;
        }
        &:last-child{
            border-inline-end: 0;
        }
        &:hover{
            color: var(--main_orange_color);
        }
    }
    .choose-lang{
        padding: 8px;
        cursor: pointer;
        color: var(--main_black);
        margin-inline-start: 5px;
        &:lang(en){
            font-weight: 600;
            font-family: "Tajawal", sans-serif;
        }
        &:lang(ar){
            text-transform: capitalize;
            font-family: "Poppins", sans-serif;
        }
    }
    .nav-link{
        padding: 8px 12px !important;
        color: var(--main_black);
        &:lang(ar){
            font-size: 18px;
            font-weight: 500;
        }
    }
    .menu_Offcanvas{
        justify-content: center;
    }
    .toggle_btn{
        padding: 4px;
        border: 0;
        background-color: var(--main_orange_color);
        &:focus,
        &:active{
            outline: none !important;
            box-shadow: none !important;
        }
        .navbar-toggler-icon{
            background-size: calc(100% - 13px);
            border: 2px solid #fff;
            border-radius: 4px;
            background-image: url(../../../../assets/images/svg/menu-bars-white.svg);
        }
    }
}
#side_menu_two{
    .hide_desktop{
        display: none;
    }
}

/** ====================
 *  Responsive
=======================*/
@media screen and (max-width: 991px) {
    #side_menu_two{
        .hide_desktop{
            display: block;
        }
    }
    #header_menu{
        .hide_mobile{
            display: none;
        }
    }
}

